@import 'bootstrap-sprockets';
@import 'bootstrap';
.navbar-header-custom {
  width: 100%;
}
.form-group-custom {
  margin-top: 40px !important;
}
.text-center-custom {
  padding: 5px;
}
.col-md-12-custom {
  padding:20px
}
.table-custom {
  width: 100%;
  td {
    border: 1px solid #ddd !important;
    vertical-align: middle !important;
  }
  th {
    border: 1px solid #ddd !important;
    vertical-align: middle !important;
  }
}
.first-column {
  width: 10%;
  text-align: center;
}
.last-column {
  width: 20%;
  text-align: center;
}
.custom-div {
  text-align: right;
}
