@import 'bootstrap-sprockets';
@import 'bootstrap';
.navbar-header-custom {
  width: 100%;
}
.form-group-custom {
  margin-top: 40px !important;
}
.text-center-custom {
  padding: 5px;
}
.col-md-12-custom {
  padding:20px
}
