<% @books_relate.each do |book_relate| %>
  <li>
    <figure>
      <%= link_to display_image(book_relate, "img-thumbnail img-custom"),
        book_relate, class: "aa-book-img aa-book-img-custom" %>
      <figcaption>
        <h4 class="aa-book-title">
          <%= link_to book_relate.name, book_relate %>
        </h4>
      </figcaption>
    </figure>
  </li>
<% end %>
