.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  background: #2196f3;
}
.navbar {
  border-radius: 0px;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
}
.carousel {
  position: relative;
  z-index: -1;
}
.carousel-inner {
  border-radius: 15px;
}
.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.section-white {
  padding: 10px 0;
}
.section-white {
  background-color: #fff;
  color: #555;
}
@media screen and (min-width: 768px) {
  .section-white {
   padding: 3px 0;
 }

}
@media screen and (min-width: 992px) {
  .container {
    max-width: 930px;
  }

}
@media screen and (min-width: 992px){
  .container {
    max-width: none;
  }
}
.caption{
  padding: 5px;
  background: #e0e0e0;
  color: #2196F3;
}
.products{
  padding-top: 10px;
}
.img-responsive, .thumbnail > img, .thumbnail a > img{
  display: block;
  max-height: 300px;
}
.carousel-inner > .item > a > img {
  max-height: 500px;
}
.profile{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.footer{
  background: #e0e0e0;
  padding: 15px;
}
span.glyphicon.glyphicon-star {
  font-size: 30px;
  color: white;
  margin: 7px;
}
span.glyphicon.glyphicon-star:hover {
  font-size: 30px;
  color: yellow;
  margin: 7px;
}
span.glyphicon.glyphicon-heart-empty {
  font-size: 30px;
  color: #bf1c97;
  margin-right: 30px;
}
span.glyphicon.glyphicon-heart-empty:hover {
  font-size: 30px;
  color: #c1214b;
  margin-right: 30px;
}
span.glyphicon.glyphicon-hand-right {
  font-size: 30px;
  color: #73caef;
  margin: 0 30px;
}
span.glyphicon.glyphicon-hand-right:hover {
  font-size: 30px;
  color: #337ab7;
  margin: 0 30px;
}
span.glyphicon.glyphicon-eye-open {
  font-size: 30px;
  color: #63410b;
  margin-right: 20px;
}
span.glyphicon.glyphicon-eye-open:hover {
  font-size: 30px;
  color: #333;
  margin-right: 20px;
}
