<div id="content">
  <div class="col-md-12" style="padding:20px;">
    <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0">
        <div class="col-md-12 padding-0">
          <div class="col-md-4">
            <div class="panel box-v1">
              <div class="panel-heading bg-white border-none">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                  <h4 class="text-left"><%= t "menu_request" %></h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <h4>
                    <span class="icon-basket-loaded icons icon text-right"></span>
                  </h4>
                </div>
              </div>
              <div class="panel-body text-center">
                <h1>51181,320</h1>
                <hr/>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel box-v1">
              <div class="panel-heading bg-white border-none">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                  <h4 class="text-left"><%= t "menu_review" %></h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <h4>
                    <span class="icon-docs icons icon text-right"></span>
                  </h4>
                </div>
              </div>
              <div class="panel-body text-center">
                <h1>51181,320</h1>
                <hr/>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel box-v1">
              <div class="panel-heading bg-white border-none">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                  <h4 class="text-left"><%= t "menu_user" %></h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <h4>
                    <span class="icon-people icons icon text-right"></span>
                  </h4>
                </div>
              </div>
              <div class="panel-body text-center">
                <h1>51181,320</h1>
                <hr/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
